<navbar type="main"></navbar>
<div class="mat-typography info">
	<h1>Ghid de utilizare platforma</h1>
	<p class="body-2">
		Din pagina principala selectati materialul pe care vreti sa il reciclati. In urmatoarea etapa puteti vedea detalii despre centrele de reciclare din zona dumneavoastra. Dupa ce alegeti unul dintre ele, mergeti la pasul urmator si sunati centrul la numarul afisat pentru a stabili data colectarii deseurilor. Aveti in vedere faptul ca unele centru nu asigura transportul. Dupa ce data e stabilita, puteti marca aceasta data si cantitatea reciclata pentru a aparea in istoricul tranzactiilor dumneavoastra. 
		In pagina de profil puteti vizualiza punctajul obtinut de dumneavoastra din reciclarile facute. Puteti de asemenea sa vedeti istoricul reciclarilor. Daca ati achizitionat si senzori pentru nivelul de umplere a containerelor, puteti vizualiza care este starea acestora.
	</p>	

	<h1 class="mat-title">Ce poti recicla</h1>

	<h2 class="mat-subheading">Hartie</h2>
	<p class="mat-body-1">
		Hârtia este cel mai comun şi frecvent deşeu şi se eliberează din toate domeniile de activitate.
		Hârtia de calitate (folosită la caiete, pentru dactilografiere sau pentru copiatoare şi imprimante), hârtia de ziar şi cartonul sunt cele mai utilizate tipuri de hârtie şi tot ele sunt şi cele care pot fi reciclate.
		Reciclarea hârtiei presupune utilizarea de până la 65% mai puţină energie decât producţia de hârtie virgină (mare parte din energia dedicată producţiei de hârtie se consumă prin transformarea lemnului în hârtie) şi cu 80% mai puţină apă.
	</p>

	<h2 class="mat-subheading">Plastic</h2>
	<p class="mat-body-1">
		Sticlele de băuturi fabricate din PET sunt omniprezente. În lume, în fiecare zi, sunt produse (și ulterior aruncate) circa 100 de milioane de astfel de sticle. Majoritatea ajung fie în gropile de gunoi, fie în ape curgătoare, de unde sunt purtate în apele oceanelor.
		Ce pot să predau pentru reciclare?
		Orice fel de ambalaj din PET – sticle, în special, cu capac sau fără, preferabil spălate cu apă și uscate. Nu este nevoie să îndepărtați etichetele.
	</p>

	<h2 class="mat-subheading">Metale</h2>
	<p class="mat-body-1">
		Producerea aluminiului din minereu necesită cantități mari de energie. Procesul de extragere a aluminiului din alumină, care este minereul brut, este destul de complex. Reciclarea aluminiului foloseste doar 5% din energia nesesară pentru producerea de metal nou, din minereu, și 5% din emisiile de dioxid de carbon.
		Reciclarea unei conserve de aluminiu economisește suficientă energie pentru a ține pornit un televizor timp de trei ore.
		Reciclarea unui kilogram de aluminiu economisește până la 6 kg de bauxită, 4 kg de produse chimice și 14 kWh de energie electrică.
		În afară de aluminiu, mai sunt și alte metale neferoase care pot fi reciclate: cupru, nichel, zinc (sau alama, în aliaj cu cuprul), plumb, aur, argint. Deoarece aceste metale sunt destul de scumpe, doar o cantitate mică este în circulație. Din păcate, recuperarea acestor metale este uneori ignorată, mai ales atunci când sunt utilizate în gospodării.
		Metalul este de obicei colectat selectiv în două grupe: metale neferoase (aluminiu, cupru, zinc etc.) și metale feroase (oțel/inox/fier). Puteți testa deșeurile metalice ca să vedeți din ce categorie fac parte prin utilizarea unui magnet. Metalele neferoase nu sunt magnetice, deci nu se va lipi magntul de ele, în timp ce metalele feroase sunt magnetice.
		Pe unele obiecte poate exista un simbol ca ALU (pentru aluminiu) pentru a indica metalul din care este fabricat. Cutiile de băuturi sunt de obicei realizate din aluminiu. Puteți folosi culoarea, textura și alte ajutoare vizuale pentru a afla exact cu ce tip de metale aveți de a face.
		Se pot recicla în recipientul pentru aluminu doze pentru bere sau pentru băuturi răcoritoare şi sucuri, tuburi de spray pentru deodorante sau pentru cosmetice, folie de aluminiu.
		Se pot recicla la fier vechi, deci în grupa metalelor feroase, capace de borcane, cutii de vopsele sau de lacuri goale și alte obiecte din metal de care se lipește magnetul.
		Tuburile de spray-uri trebuie sa fie complet goale înainte de reciclare, nu se găuresc și nu se aplatizează.
		Folia de plastic metalizat, cum ar fi ambalajul de ciocolată, nu poate fi reciclată.
	</p>

	<h2 class="mat-subheading">Ulei</h2>
	<p class="mat-body-1">
		Uleiul auto poate fi recuperat după utilizare, curățat de impurități, pentru ca apoi să fie utilizat din nou. Reciclarea uleiulului auto conservă o resursă naturală (petrolul) și protjează mediul în același timp.
		Uleiul de gătit poate fi reciclat în biodiesel. În niciun caz nu trebuie aruncat la gunoi sau în chiuvetă, deoarece este periculos pentru mediu. Cel mai bine este să filtrați eventuale resturi de mâncare și să colectați uleiul de gătit utilizat în recipiente pentru reciclare.

		Reutilizarea uleiului de gătit depinde de mai mulți factori, inclusiv de temperatură, timp și scop. Filtrați întotdeauna resturile alimentare, nu amestecați diferite uleiuri și țineți temperatura de gătire sub 190 de grade Celsius pentru a reduce riscul ca uleiul să devină periculos pentru utilizare.
	</p>

	<h2 class="mat-subheading">Sticla</h2>
	<p class="mat-body-1">
		Reciclând o singură sticlă se economisește suficientă energie pentru a aprinde un bec de 15 watti timp de 24 de ore.
		Sticla este unul dintre puținele materiale care pot fi reciclate la infinit, fără a-și pierde din calitate.
		Fabricarea sticlei este un proces închis, fără produse secundare toxice.
		Sticla este separată în 3 culori: verde, maro și transparentă.
		Sticla folosită pentru ferestre, oglinzi, geam armat și pahare este adesea tratată cu chimicale, astfel încât toate aceste tipuri de sticlă au punte de topire diferite. Asta înseamnă ca aceste tipuri de sticlă au cerințe speciale și e bine să întrebați reciclatorul local dacă permite colectarea lor în același recipient sau e nevoie să căutați alternative.
		Spălați sticlele și borcanele înainte de reciclare și eliminați capacele.
		Evitați spargerea sticlelor. Sticla spartă poate fi dureroasă atat pentru voi cât și pentru muncitori în procesul de reciclare.
		Nu puteți recicla în containerul pentru sticlă: geamuri, becuri, veselă de sticlă sau de la echipamente electrice. Eliminați aceste deșeuri separat.
	</p>

	<h2 class="mat-subheading">Electronice</h2>
	<p class="mat-body-1">
		Deșeurile electrice, electronice și electrocasnice includ: mașini de spălat rufe, mașini de spălat vase, frigidere, lăzi frigorifice, aparate de aer condiționat, cuptoare, plite electrice, televizoare, calculatoare, telefoane, ceasuri, CD/DVD/playere, casete și console de jocuri, ceainice, prăjitoare de pâine, mixere și blendere, cuptoare cu microunde, uscătoare de păr, periuțe de dinți electrice și aparate de ras, mașini de tuns iarba, trimmere și suflante de frunze. tocătoare, lămpi, lanterne, aspiratoare, telefoane fixe, telefoane mobile, aparate de radio, televizoare, imprimante, camere video etc.
		Aparate electrice sunt fabricate dintr-o gamă largă de materiale, inclusiv metale prețioase (cum ar fi aurul și platina), metale grele toxice, circuite integrate metalice, materiale plastice mixte, materiale ignifuge și sticlă. Metalele grele – plumb, cadmiu, mercur și arsenic – precum și materialele ignifuge, pot cauza contaminarea mediului prin scurgerile care au loc de la gropile de gunoi în surele de apă. Prin reciclare, aceast tip de contaminare poate fi evitat și resursele utile pot fi conservate, deoarece până la 95% din materiale pot fi recuperate pentru reutilizare.
	</p>

	<h2 class="mat-subheading">Lemn</h2>
	<p class="mat-body-1">
		Mobila este adesea renovată și refolosită, dar există și reciclatori care demontează mobilierul vechi pentru a-i găsi o viață nouă sub forma altor produse sau combustibil.
		Reciclarea mobilierului protejează mediul înconjurător prin reducerea cererii pentru lemn, metale și materiale plastice, evitând aruncarea unor cantități mari de deșeuri la gropile de gunoi și reducând emisiile de carbon asociate cu fabricarea mobilei.
		Mobila care nu mai e potrivită pentru reutilizare este demontată, separată pe piese în funcție de material, cum ar fi metale, materiale plastice, țesături și lemn, iar apoi prelucrate. De obicei nu e nevoie să demontați mobilierul înainte de reciclare, cu toate acestea, firmele de colectare vă pot solicita să eliminați ușile sau să le blocați, la fel și sertarele sau bucățile de sticlă, pentru a preveni leziunile.
		Reciclarea paletilor vechi sau deteriorați previne aglomerarea gropilor de gunoi și reduce necesitatea de a taia copaci pentru a face noi paleți.
	</p>
</div>
