.centerCards {
	margin-bottom: 10px;
}

.cardContainer {
	display: flex;
	flex-direction: column;
}

.inputsContainer {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-left: 30px;
	margin-top: 30px;
}

.form-tab-1 {
	margin: 40px 0 0 20px;
}

.tab-3-button {
	margin: 30px 0 20px 30px;
}