<mat-tab-group>
	<!--- TAB 1 -->
  <mat-tab label="Make Queries">
    <form (ngSubmit)="submitCenterQuery()" #centerForm="ngForm" class="form-tab-1">
      <mat-form-field>
        <input matInput placeholder="Numele centrului" [(ngModel)]="centerName" name="name"
               #name="ngModel">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Material" [(ngModel)]="chosenMaterial" name="power"
                #material="ngModel">
          <mat-option *ngFor="let mat of materials" [value]="mat">{{mat}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button type="submit">Cauta</button>
    </form>

    <div class="table-container" mat-elevation-z8>
        <h2> Centre </h2>

        <mat-table [dataSource]="displayedCenters">
          <mat-header-row  #table *matHeaderRowDef="columnsToDisplayCenters"></mat-header-row>
          <mat-row *matRowDef="let myRowData; columns: columnsToDisplayCenters"></mat-row>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nume </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> Telefon </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="website">
            <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.website}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Adresa </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="materials">
            <mat-header-cell *matHeaderCellDef> Materiale </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.materials}} </mat-cell>
          </ng-container>

        </mat-table>
      </div>


    <form (ngSubmit)="submitUserQuery()" #userForm="ngForm" class="form-tab-1">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="searchUserName" name="username"
               #username="ngModel">
      </mat-form-field>


      <button mat-button type="submit">Cauta</button>
    </form>

    <div class="table-container" mat-elevation-z8>
        <h2> Utilizatori </h2>

        <mat-table [dataSource]="displayedUsers">
          <mat-header-row  #table2 *matHeaderRowDef="columnsToDisplayUsers"></mat-header-row>
          <mat-row *matRowDef="let myRowData; columns: columnsToDisplayUsers"></mat-row>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
          </ng-container>
        </mat-table>
    </div>

  </mat-tab>


  <!--- TAB 2 -->
  <mat-tab label="Add Data">
    <form (ngSubmit)="addNewCenter()" #addCenterForm="ngForm" class="inputsContainer">
      <mat-form-field>
         <input matInput placeholder="Nume Centru" [(ngModel)]="newCenter.name" name="name"
               #name="ngModel">
      </mat-form-field>

      <mat-form-field>
         <input matInput placeholder="Adresa" [(ngModel)]="newCenter.address" name="name"
               #name="ngModel">
      </mat-form-field>

      <mat-form-field>
         <input matInput placeholder="Numar Telefon" [(ngModel)]="newCenter.phone" name="name"
               #name="ngModel">
      </mat-form-field>

      <mat-form-field>
         <input matInput placeholder="Website" [(ngModel)]="newCenter.website" name="name"
               #name="ngModel">
      </mat-form-field>

      <mat-form-field>
         <input matInput placeholder="Lat" [(ngModel)]="newCenter.lat" name="name"
               #name="ngModel">
      </mat-form-field>

      <mat-form-field>
         <input matInput placeholder="Long" [(ngModel)]="newCenter.lon" name="name"
               #name="ngModel">
      </mat-form-field>

      <mat-form-field>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let mat of newCenterMaterials" [selectable]="true"
                   [removable]="true" (removed)="removeNewCenterMaterial(mat)">
            {{mat}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Materiale"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addNewCenterMaterial($event)" />
        </mat-chip-list>
      </mat-form-field>

      <button mat-button type="submit">Adauga</button>

    </form>

  </mat-tab>


  <!--- TAB 3 -->
  <mat-tab label="Search Centers">
  	<button mat-button (click)="runCentersService()" class="tab-3-button">Run Service</button>

  	<div #gmap style=”width:100%;height:400px”></div>

  	<div>
  	<mat-card *ngFor="let center of centersToAdd" role="group" class="centerCards">
  		<mat-card-title>
  			{{center.name}}
  		</mat-card-title>

  		<mat-card-subtitle>
  			{{center.formatted_address}}
  		</mat-card-subtitle>

  		<mat-card-content class="cardContainer">
  			<mat-form-field>
  				<input #phone (keyup)="center.formatted_phone_number = phone.value" value="{{center.formatted_phone_number}}" matInput placeholder="Phone Number">
  			</mat-form-field> 
  			<mat-form-field>
  				<input #website (keyup)="center.website = website.value" value="{{center.website}}" matInput placeholder="Website">
  			</mat-form-field>

  			<div>Latitude: {{center.geometry.location.lat()}}</div>
  			<div>Longitude: {{center.geometry.location.lng()}}</div>


        <mat-form-field>
          <mat-chip-list #matChipList>
            <mat-chip *ngFor="let mat of center.materials" [selectable]="true"
                     [removable]="true" (removed)="removeNewCenterMaterial2(mat, center)">
              {{mat}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Materiale"
                   [matChipInputFor]="matChipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addNewCenterMaterial2($event, center)" />
          </mat-chip-list>
        </mat-form-field>
  			
  		</mat-card-content>

  		<button mat-button (click)="addCenter(center)">Add</button>
  	</mat-card>
  	</div>
  </mat-tab>
</mat-tab-group>



