
<div class="page">
  <navbar type="main"></navbar>
  <mat-horizontal-stepper>

    <mat-step>
      <ng-template matStepLabel>Alege resursa</ng-template>
      <div class="buttons-container">
        <button mat-button matStepperNext (click)="selectResource('hartie')" class="resource-button">
          <img class="icon" src="assets/paper.png"/>
          <div>Hartie</div>
        </button>
        <button mat-button matStepperNext (click)="selectResource('plastic')" class="resource-button">
          <img class="icon" src="assets/plastic.png"/>
          <div>Plastic</div>
        </button>
        <button mat-button matStepperNext (click)="selectResource('metal')" class="resource-button">
          <img class="icon" src="assets/metal.png"/>
          <div>Metale</div>
        </button>
        <button mat-button matStepperNext (click)="selectResource('ulei')" class="resource-button">
          <img class="icon" src="assets/oil.png"/>
          <div>Ulei</div>
        </button>
        <button mat-button matStepperNext (click)="selectResource('sticla')" class="resource-button">
          <img class="icon" src="assets/glass.png"/>
          <div>Sticla</div>
        </button>
        <button mat-button matStepperNext (click)="selectResource('electronice')" class="resource-button">
          <img class="icon" src="assets/electronics.png"/>
          <div>Electronice</div>
        </button>
        <button mat-button matStepperNext (click)="selectResource('lemn')" class="resource-button">
          <img class="icon" src="assets/wood.png"/>
          <div>Lemn</div>
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Alege centrul de reciclare</ng-template>
      <div class="map-container">
        <div class="map">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
            <agm-marker *ngFor="let center of centers" [latitude]="center.lat" [longitude]="center.lon"
              [opacity]="center == selectedCenter ? 1: 0.7"></agm-marker>
          </agm-map>
        </div>

        <div class="map-cards">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let center of centers">
              <mat-expansion-panel-header>
                <mat-panel-title (mouseover)="selectCenter(center)">
                  {{center.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              
                {{center.address}} <br> 
                {{center.website}} <br>
                {{center.phone}} <br>
                Distanta: {{center.distance / 1000 | number:'1.0-2'}} km
                <br><br>
                <button mat-button matStepperNext>
                  Alege
                </button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Data reciclarii</ng-template>
      <div class="lastStep">
        <div *ngIf="!selectedCenter" class="my-row">
          Nu ai ales niciun centru
        </div>

        <div *ngIf="selectedCenter">
          <div class="mat-subheading-2 my-row">
            Ai ales {{selectedCenter?.name}} 
          </div>

          <div class="mat-subheading-1 my-row">
            <mat-icon>call</mat-icon>
            {{selectedCenter?.phone}} <br>

            <mat-icon>computer</mat-icon>
            {{selectedCenter?.website}} <br>

            <mat-icon>home</mat-icon>
            {{selectedCenter?.address}}
          </div>

      
          <div class="mat-subheading-2 my-row" 
            matTooltip="Dupa ce ai sunat centrul, alege data cand se va efectua reciclarea" matTooltipShowDelay="1500" >
            Reciclarea se va efectua in data de: <br>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Alege data">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="my-row" matTooltip="Cantitatea de material in kg/L" matTooltipShowDelay="1500">
            <mat-form-field>
              <input matInput placeholder="Cantitatea reciclata" [(ngModel)]="quantity">
            </mat-form-field> kg/L
          </div>

          <br><br>

          <div class="my-row" matTooltip="Acest pas va inregistra tranzactia in istoricul tau." matTooltipShowDelay="1500">
            <button mat-button (click)="finishProcess()">Terminat</button>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>