<navbar type="landing"></navbar>

<div class="form-container">
	<mat-form-field floatLabel="true">
		<input matInput placeholder="Nume" 
		#email [(ngModel)]="name" required>
	</mat-form-field>

	<mat-form-field floatLabel="true">
		<input matInput placeholder="Username" 
		#email [(ngModel)]="username" required>
	</mat-form-field>

	<mat-form-field floatLabel="true">
		<input matInput placeholder="Password" type="password" 
		#pass [(ngModel)]="password" required>
	</mat-form-field>

	<button mat-raised-button (click)="trySignup()">Login</button>
</div>