.sidenav-container {
	background-color: transparent;
    width: 100%;
    height: 100%;
    color: #656a71;
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
}

.sidenav {
	display: flex;
	flex-direction: column;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  width: 80%;
  margin: 50px 0 0 100px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

mat-nav-list {
  margin-top:30px;
}

.img-circle {
    border-radius: 50%;
    border-width: 3px;
    height: 80px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-profile {
  width: 100px;
  flex: 1;
  margin: 50px 0 0 100px;
}

.right-profile {
  flex: 5;
}

mat-progress-bar {
  width: 200px;
}

.icon {
  max-height: 50px;
}

.iotContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.iotContainer {
  width: 250px;
  margin: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.containers-container {
  margin: 50px 0 0 100px;
}

/*.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}*/